APP_ENV=# development/production

DOMAIN_NAME=omga.foo
PORT=8080
# if certificates should be handled by the app:
CERT_FILE=
KEY_FILE=

# name.com dynamic DNS updater
NAME_COM_USERNAME=
NAME_COM_API_KEY=
NAME_COM_DOMAIN=
NAME_COM_RECORD_IDS=

